@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("Gravar", "Gravar", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Deletar", "Deletar", null, new { @class = "btn btn-default" })
</div>
